<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a target="_blank">
                <i class="fa-brands fa-square-facebook" style="color: #74C0FC;"></i>
            </a>
            <a href="https://www.instagram.com/Sdkaran_" target="_blank">
                <i class="fa-brands fa-square-instagram" style="color: #fe1010;"></i>
            </a>
            <a href="https://www.linkedin.com/in/soumyadip-karan-82559224b" target="_blank">
                <i class="fa-brands fa-linkedin" style="color: #0077b5;"></i>
            </a>
        </div>
        
        <div> &copy; StayNova-Private-Limited</div>
        <div class="f-info-links">
            <a href="/terms">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>